<h1>events works!</h1>
<br>
<br>
<br>
<button (click)="myClick()">Click Me1 !</button><br>
<br>
<br>
<br>

<button (click)="myClick2('hema')">Click Me2 !</button><br>
<br>
<br>
<br>

<button (click)="myClick3($event,'hema')">Click Me3 !</button><br>
<br>
<br>
<br>

<button (mousedown)="myClick3($event,'hema')">mousedown !</button><br>
<br>
<br>
<br>

<button (mouseup)="myClick3($event,'hema')">mouseup !</button><br>
<br>
<br>
<br>

<button (mouseover)="myClick3($event,'hema')">mouseover !</button><br>
<br>
<br>
<br>

<button (drag)="myClick3($event,'hema')">darg !</button><br>
<br>
<br>
<br>

<button (dblclick)="myClick3($event,'hema')">Dboul click !</button><br>
<br>
<br>
<br>

<button (dragover)="myClick3($event,'hema')">drag over me !</button><br>
<br>
<p>drag over button of (drag over me )</p>

